<p id="notice"><%= notice %></p>

<h1>Beautifies</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beautifies.each do |beautify| %>
      <tr>
        <td><%= beautify.content %></td>
        <td><%= link_to 'Show', beautify %></td>
        <td><%= link_to 'Edit', edit_beautify_path(beautify) %></td>
        <td><%= link_to 'Destroy', beautify, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beautify', new_beautify_path %>
